* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family, CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
    /* background-color: transparent; */
    /* overflow:hidden; */
}

@media screen and (max-width:800px) {
    .all {
        background-color: #fff;
    }

    .pg {
        grid-template-columns: auto auto;
        grid-template-rows: 156px auto 66px;
    }
}

.all {
    /* height: 100vh; */
    /* width: 100vw; */
    background-color: #000000;
}

.pg {
    padding: 8px;
    /* height: 98vh; */
    /* width: 98vw; */
    display: grid;
    grid-template-columns: 353px auto;
    grid-template-rows: 156px auto 66px;
    grid-gap: 8px;
}

.item {
    background-color: #121212;
    border-radius: 8px;
}

/* c1 */
.sp {
    width: auto;
    height: 44px;
}

.sp img {
    margin-top: 20px;
    padding: 0 24px;
    width: 80px;
    height: 24px;
}

.hs {
    height: 96px;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
}

.hs li {
    list-style: none;
    padding: 4px 12px;
}

.hs a {
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
}

.home a {
    color: #ffffff;
}

.search a {
    color: #878787;
}

.hs img {
    padding-left: 1px;
    height: 21px;
    width: 20.5px;
}

.hs .text {
    padding-left: 22.5px;
    padding-top: 2px;
}

/* c2 */
#c2 {
    height: auto;
    position: relative;

}

.c2nav {
    z-index: 2;
    height: 40px;
    padding: 8px 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;

}

.left {
    width: 141.2px;
    height: 40px;
    padding: 4px 8px;
    background-color: transparent;
    border: 0;
    color: #878787;
    font-size: 0.949rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.left img {
    height: 20px;
    width: 20px;
    margin-right: 16px;
}

.right {
    background-color: transparent;
    border: 0;
    height: 32px;
    width: 32px;
    padding: 9px;
}

.right img {
    height: 15px;
    width: 15px;
}

.c2c {
    height: 269.2px;
    overflow-y: hidden;

}

.c2c:hover {
    overflow-y: auto;
}

.c2cont {
    z-index: 1;
    height: 315.2px;
    padding: 0 8px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.cr {
    height: 101.6px;
    background: #242424;
    padding: 16px 20px;
    margin: 8px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.crt {
    height: 49.6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

}

.crt .p1 {
    display: flex;
    align-items: center;
    height: 22.4px;
    font-size: 0.975rem;
    font-weight: 700;
}

.crt .p2 {
    display: flex;
    align-items: center;
    height: 19.2px;
    font-size: 0.8rem;
    font-weight: 700;
}

.crb {
    width: fit-content;
    height: 32px;
    padding: 4px 16px;
    border-radius: 9999px;
    border: 0;
    background-color: #fff;
    font-weight: 700;
    font-size: 0.86rem;

}

.c2foot {
    display: flex;
    flex-direction: column;
    /* height: 150.4px; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
    z-index: 2;
    bottom: 0;

}

.cook {
    margin: 32px 0;
    padding: 0 24px;
    height: 22.4px;
}

.cook a {
    text-decoration: none;
    color: #878787;
    font-size: 0.77rem;
}

.lang {
    margin-bottom: 32px;
    padding: 0 24px;
}

.lang button {
    width: 95.45px;
    height: 32px;
    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 9999px;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 3px;
}

.lang img {
    padding-right: 4px;
    height: 16px;
}


/* c3 */
#c3 {
    background-image: linear-gradient(to bottom, #212121, #121212, #121212);
}

.nav {
    height: 32px;
    padding: 16px 24px;
    background-color: rgba(0, 0, 0, .5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.navb {
    width: 72px;
    justify-content: space-between;
    display: flex;
}

.navb button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    border-radius: 50%;
    border: 0;
    background-color: rgba(0, 0, 0, .4);
}

.navb img {
    height: 16px;
    width: 9px;
}

.los {
    display: flex;
    flex-direction: row;
    /* width: 519.787px; */
    gap: 8px;
    height: 57px;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}

.su {
    /* width: 95.9167px; */
    padding: 8px 32px 8px 8px;
    border: 0;
    background-color: transparent;
    color: #878787;
    font-size: 0.95rem;
    font-weight: 700;
}

.p {
    border: 0;
    background-color: transparent;
    color: #878787;
    font-size: 0.95rem;
    font-weight: 700;
    padding: 8px 0;
    letter-spacing: 2px;
}

.vb {
    width: 1px;
    height: 25px;
    margin: 16px;
    background-color: #878787;
}

.li {
    /* width: 109.367px; */
    height: 48px;
    border-radius: 9999px;
    border: 0;
    background-color: #fff;
    margin-right: 9px;
}

.li span {
    padding: 8px 32px;
    font-size: 0.945rem;
    font-weight: 700;
}

.c3cont {
    height: 290px;
    padding: 8px 23px 16px;
}

.conav {
    height: 31.2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.c3l {
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -1px;
    align-self: start;
}

.c3r {
    color: #8b8b8b;
    font-size: 0.87rem;
    font-weight: 700;
    letter-spacing: 0.01px;
    align-self: center;
}

.card {
    height: -webkit-fill-available;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(203px, 203px));
    overflow-y: hidden;
    grid-gap: 24px;
}

.card:hover {
    overflow-y: auto;
}

.c {
    border-radius: 8px;
    padding: 16px;
    background-color: #181818;
}

.im {
    padding-bottom: 16px;
}

.c img {
    border-radius: 8px;
    height: 171px;
}

.tag {
    height: 64.8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tag .p1 {
    color: white;
    font-weight: 700;
    padding-bottom: 4px;
}

.tag .p2 {
    color: #8b8b8b;
    height: 38.4px;
    font-size: 0.84rem;
    font-weight: 700;
    letter-spacing: 0.01px;
}


/* c4 */
#c4 {
    /* width: auto; */
    cursor: pointer;
    background-image: linear-gradient(to right, #af2896, #509bf5);
    border-radius: 0;
}

.foot {
    padding: 11px 24px 7px 15px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
}

.t {
    /* width: 636.11px; */
    display: flex;
    flex-direction: column;
    margin: 2.5px 0 4px;
}

.t .p1 {
    font-size: 0.875rem;
    font-weight: 700;
    height: 19.2px;
    display: flex;
    align-items: center;
}

.t.p2 {
    font-weight: 700;
    font-size: 0.934rem;
    height: 22.4px;
    display: flex;
    letter-spacing: 0.02px;
    align-items: center;
}

.suf {
    cursor: pointer;
    border: 0;
    background-color: #fff;
    /* width: 178.85px; */
    border-radius: 9999px;
}

.suf span {
    padding: 8px 32px;
    /* width: 89.85px; */
    font-size: 0.945rem;
    font-weight: 700;
    letter-spacing: 0.1px;

}