*{
    padding: 0;
    margin: 0;
    font-family: var(--font-family, CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
    max-width: 1519.2px;
    
}
.nav{
    padding: 32px 0 32px 51px;
    background-color: #121212;
    width:auto;
    height:36px;

}
.nav img{
    height:36px;
}
.log{
    overflow-x: inherit;
    width: auto;
}
.mid{
    height: 964.8px;
    padding: 32px;
    background-image:linear-gradient(to bottom,#292929, black);
    display: flex;
    justify-content: center;
}
.cont{
    height: 900.8px;
    padding: 32px 0;
    background-color: #121212;
    width: 734px;
    border-radius: 8px;
    color: #ffffff;
}
.ls{
    height: 48px;
    margin: 42px 0 48px;
    text-align:center;
    font-size: 2.89rem;
    letter-spacing:-1.6px;
    padding-bottom: 6px;
    font-weight:bold;
    
}
.opt{
    height: 224px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.opt li{
    list-style:none;
}
.opt button:hover{
    border: 1.5px solid #ffffff;

}
.opt button{
    height: 48px;
    width: 324px;
    margin-bottom:8px;
    border-radius: 500px;
    background-color:transparent;
    border: 1px solid var(--essential-subdued, #878787);
    padding: 7px 31px;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight:bolder;
    letter-spacing:-0.1px;
}
.opt img{
    height: 24px;
    width: 24px;
}
.text{
    margin:5px auto;
}

.form{
    padding: 2px 0;
    height: 344.8px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.form label{
    height: 19.2px;
    font-size: 0.85rem;
    font-weight: 700;
    padding-bottom: 6px;
    align-self: start;
    position:sticky;
}

.form .abc{
    color: #a7a7a7;
    width: 295.2px;
    height: 31.2px;
    padding: 8px 14px;
    font-size: 15px;
    font-weight: 400;
    border-radius: var(--border-radius-md, 4.5px);
    border: 1px solid #878787;
    background-color: transparent;
}
.form .abc:hover{
    border: 1.5px solid #ffffff;
}
.form ::placeholder{
    color: #a7a7a7;
}
.email{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}
.pass{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}





.rm {
    position: relative;
    width: 324px;
    height: 32px;
}
.box{
    height: 24px;
    padding:6px 0 4px 0;
}
  
 .rm label {
    padding: 0;
    position: absolute;
    margin:6px 0 4px 0;
    top: 2px;
    left: 0;
    width: 30px;
    height: 16px;
    border-radius: 50px;
    background: #727272;
    cursor: pointer;
    transition: all 0.3s ease;
  } 
  .rm label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #121212;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  .rm input[type="checkbox"]:checked + label {
    background: #1ed760;
  }
  
  .rm input[type="checkbox"]:checked + label:after {
    transform: translateX(14.5px);
  }
  
  .yep {
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 1px;
    background: #211796;
  } 
.r{
    height: 19.2px;
    padding: 2px 24px 0 8px;
    font-size: 0.875rem;
    font-weight: 400;
}

.lo{
    height: 48px;
    padding: 32px 0;
}
.lb{
    width: 324px;
    height: 48px;
    border: 0;
    border-radius: 500px;
    background-color: #1ed760;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}
.lb:hover{
    width: 334px;
    font-size: 1rem;
    font-weight: 800;
}

.fp{
    height: 22.4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fp a{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
}
.fp a:hover{
    color: #1ed760;

}


hr{
    margin: 32px 100px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid rgb(41, 41, 41);
}
.su{
    padding: 16px 0px;
    color: #a7a7a7;
    font-size: 10px;
    text-align: center;
}
.su a{
    color: white;
}
.foot{
    background-color: #121212;
    padding: 32px ;
    text-align:center;
    font-size: 11.2px;
    font-weight: 400;
    width:auto;
    color: #a7a7a7;
    min-height: 15.2px;
}
.foot a{
    color: #a7a7a7;
}