<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
  </head>
  <body>
    <form method="POST" action="/login">
      <h1>Log In</h1>
      <% if(!userExists) { %>
      <h3>Invalid Email Id</h3>
      <% } %> <% if(userExists && !passCorrect) { %>
      <h3>Incorrect Password</h3>
      <% } %>
      <label>
        Email <sup>*</sup>
        <input
          name="email"
          type="email"
          placeholder="Enter your Email"
          required
        />
      </label>
      <label>
        Password <sup>*</sup>
        <input
          name="password"
          type="password"
          placeholder="Enter your password"
          required
        />
      </label>
      <button>Log In</button>
      <label>
        New user?
        <a href="/signup">Sign Up</a>
      </label>
    </form>
  </body>
</html>
