<div id="About" class="black">
    <div class="top">
        <div class="text text1">
            <h1>Bringing <span class="span00">Culinary Delights</span> to Your Table</h1>
            <p>Cuisine Connect is transforming the way you enjoy food. We're dedicated to delivering diverse flavors to your table with an innovative platform, seamless ordering experience, and a commitment to supporting local restaurants and chefs.</p>
        </div>
        <div class="imgcont">
            <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <img src="https://images.pexels.com/photos/718742/pexels-photo-718742.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        </div>
        <div class="text">
            <h1>We are passionate about transforming how you enjoy food. Our innovative platform <span class="span0">blends technology</span>, <span class="span1">culinary expertise</span>, and community to deliver an <span class="span2">unmatched dining experience</span> right to your table.</h1>
        </div>
    </div>
    <div class="more">
        <div class="fs">
            <div class="left">
                <h1 class="h1">Our Founding Story</h1>
                <p>Cuisine Connect was born from a shared passion for transforming the way people experience food. It all started with a group of food lovers, tech enthusiasts, and entrepreneurs who saw the potential to bring communities closer through the joy of dining.</p>
                <p>As avid foodies, we recognized the challenges of accessing diverse cuisines and creating seamless dining experiences. We believed that enjoying great food shouldn’t be limited by location or time constraints. We envisioned a platform that bridges these gaps, connecting people with exceptional meals and culinary artistry, right at their table.</p>
            </div>
            <img class="right" src="https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        </div>
        <div class="fs">
            <div class="left">
                <h1 class="h10">Our Vision</h1>
                <p>With this vision at heart, we embarked on a journey to create Cuisine Connect—a platform that redefines how people connect with food. Our dedicated team worked tirelessly to craft an intuitive and robust platform that seamlessly blends technology with culinary passion, bringing an exceptional dining experience directly to your table.</p>
            </div>
            <div class="left">
                <h1 class="h11">Our Mission</h1>
                <p>Our mission is to celebrate and elevate the joy of dining. We strive to build a community where people can explore diverse cuisines, share culinary stories, and connect with chefs and fellow food enthusiasts. We believe that food is more than sustenance—it’s a medium for connection, culture, and creativity. Through our platform, we aim to foster meaningful experiences that bring people closer, one plate at a time.</p>
            </div>
        </div>
    </div>
</div>
