<footer>
    <div class="box6" style="background-color: #1c1c1c; padding:40px 0;" >

        <div class="flex_box6" style="
        display:flex;
        justify-content:center;
        width:100%;
        ">
            <div class="b6l-1" style="display:flex;
            gap:5px;
            flex-direction: column;
            margin-left:50px"
            >
                <div style="display: flex; flex-direction: row;">
                    <img class="logo" src="https://i.pinimg.com/1200x/9c/0e/de/9c0edef80de1893774c8a74883a916f9.jpg" alt="">
                    <h2 style="padding-top: 20px; padding-left: 8px;">Cuisine Connect</h2>
                </div>
                <p style="font-size: 14px; color: #888888;
                padding:20px 15px ">CuisineConnect was started in 2018 with the mission to build a holistic FinTech platform for offline merchants and small businesses. Today, BharatPe offers a suite of simple, easy-to-use and secure fintech products including payments and business loans to its merchant partners. The company has an extensive network of 13+ million merchants across 450+ cities in the country. CuisineConnect's consumer offering postpe is one of the fastest-growing products in the Buy-Now- Pay-Later industry.</p>
                <h5 style="padding-left: 25px;">Download app from</h5>
                <div class="butdown" style="padding-left: 25px;
                display:flex;
                gap:5%">
                    <button style="border-radius: 8px; padding:8px 15px;
                    display:flex; justify-content:center;
                    align-items:center;
                    gap:10%;
                    border:none"><img style=" vertical-align: middle;" src="https://bp-wp-website-prod.s3.ap-south-1.amazonaws.com/wp-content/uploads/2023/09/play-store-icon.jpg
                        ">Playstore</button>
                        <button style="border-radius: 8px; padding:8px 15px;
                        display:flex; justify-content:center;
                        white-space:nowrap;
                        align-items:center;
                        gap:10%;
                        border:none"><img style=" vertical-align: middle;" src="https://bp-wp-website-prod.s3.ap-south-1.amazonaws.com/wp-content/uploads/2023/09/app-store.jpg
                            ">App Store</button>    
                        
                </div>
            </div>

            <div class="b6l-2" style="display: flex; flex-direction: column;
            gap:10%;
            padding-top:30px;
            align-items:center">
                <div style="display: flex; flex-direction: column;
                gap:5px;">
                    <h5>General</h5>
                    <div style="display: flex; flex-direction: column;">
                        <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">About Us</a>
                        <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Carrers</a>
                        <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Press</a>
                        <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Contact Us</a>
                    </div>

                <div style="display: flex; flex-direction: column;
                gap:5px;">
                    <h5>Legal</h5>
                    <div style="display: flex; flex-direction: column;">
                        <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Terms & Conditions</a>
                        <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Privacy Policy</a>
                        <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Grievance Redessal</a>
                        <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Policy</a>
                    </div>
                </div>
            </div>
            </div>

            <div class="b6r-2" style="display: flex; flex-direction: column;
            gap:10%;
            padding-top:30px;
            align-items:center">
                <div style="display: flex; flex-direction: column;
                gap:5px;">
                    <h5>Resources</h5>
                    <div style="display: flex; flex-direction: column;">
                        <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Build with CuisineConnect</a>
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Transforming Bharat</a>
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">Merchant Stories</a>
                    </div>

                <div style="display: flex; flex-direction: column;
                gap:5px;">
                    <h5>Corporate Governance</h5>
                    <div style="display: flex; flex-direction: column;">
                    </div>
                </div>
            </div>
            </div>

            <div class="b6r-1" style="display: flex; flex-direction: column;
            gap:10%;
            padding-top:30px;
            align-items:center">
                <div style="display: flex; flex-direction: column;
                gap:5px;">
                <h5>Merchant Offerings</h5>
                <div style="display: flex; flex-direction: column;">
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">CuisineConnect QR</a>
                    <a class="box5_anchor" style="font-size: 12px; cursor: pointer;">CuisineConnect Speaker</a>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box6_2" style="background-color: #1c1c1c; padding:10px 300px;">
        <div style=" border: 2px solid grey; display:flex; justify-content:center">
            <button class="b6_button"><img src="https://bharatpe.com/wp-content/uploads/2023/05/postpe-logo-footer.svg"></button> <button class="b6_button"><img src="https://bharatpe.com/wp-content/uploads/2023/05/club-twelth-footer.svg"></button> <button class="b6_button"><img src="https://bharatpe.com/wp-content/uploads/2023/05/zilion-logo-footer.svg"></button> <button class="b6_button"><img src="https://bharatpe.com/wp-content/uploads/2023/05/trillion-loans.png" alt=""></button>
        </div>
    </div>

    <div class="box6_3" style="display:flex; background-color: #1c1c1c; justify-content:center;
    padding:10px ">
            <p style="color:#ffffff; font-family: poppins; font-size: 14px;"> &#169; 2024 All Rights Reserved</p>
    </div>
</body>
</footer>
