.inpcont {
  width: 50vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(191, 190, 190, 0.2);
  border: 1px solid black;
  border-radius: 10px;
  margin: 30px 0 20px;
}
.inpt::placeholder {
  color: rgba(0, 0, 0, 0.32);
}
.inpt {
  display: flex;
  align-content: start;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  font-size: 25px;
  resize: none;
}
.inpt:focus {
  outline: none;
}
.bottom {
  display: flex;
  /* background-color: #aa1818; */
  justify-content: space-between;
  height: 40px;
  padding: 10px 15px;
}
.tagsinput {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 33px;
  margin-left: 5px;
}

/* The container */
.container {
  height: 33px;
  width: 33px;
  display: block;
  position: relative;
  cursor: pointer;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #822f2f;
  border-radius: 50%;
}

/* On mouse-over, opacity changes */
.container:hover input ~ .checkmark {
  filter: opacity(80%);
}

/* Show the indicator (circle) when checked */
.container input:checked ~ .checkmark:after {
  content: "";
  display: block;
  background-color:transparent;
  border: 3px solid rgb(255, 255, 255);
  top: 5%;
  left: 5%;
  justify-self: center;
  align-self: center;
  height: 75%;
  width: 75%;
  border-radius: 50%;
  position: absolute;
}
#Normal{
    background-color: #94D016;
}
#Important{
    background-color: #FFAD4D;
}
#Urgent{
    background-color: #9575D9;
}
.add {
  width: 95px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #2f2f2f;
  color: white;
  font-size: 23px;
  cursor: pointer;
  font-weight: 600;
}
.add:hover{
  filter: contrast(150%);
}