*{
  padding: 0;
  margin: 0;
}
.texth{
  font-size: 50px;
}
a{
  font-weight: 600;
  border-radius: 15px;
  padding:10px 20px;
}
a:hover{
  background-color: rgba(245, 245, 220, 0.591);
  color: #000;
}
.active{
  background-color: beige;
  color: #000;
  font-weight: 600;
  border-radius: 15px;
  padding:10px 20px;
}
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
}
nav{
  position: absolute;
  width: 100%;
  box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.114);
  top: 0;
}
a{
  color: beige;
  text-decoration: none;
}
ul, .nav{
  height: 7vh;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 20px;
  align-items: center;
  padding:10px 50px;
  background-color: #000000;
  list-style: none;
}

