*{
  padding: 0;
  margin: 0;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
}

.heading{
  font-weight: 600;
  font-size: 40px;
}
.underline{
  background-color: #9370ae;
  height: 5px;
  width: 12%;
  margin-bottom: 20px;
}