.p2p_button{
    background-color: #0071c2;
    color: #ffffff;
    border-radius: 5px;
    height: 32px;
    margin-top: 25px;
}
.cross_svg{
    background-color: #f1f1f1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
}
.no-roomdiv div{
    margin: 10px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.no-roomdiv div ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.no-roomdiv div li{
    margin:3px 0;
    display: flex;
    justify-content: space-between;

}
.no-roomdiv div button{
    box-shadow: none;
}
.no-roomdiv div a{
    background-color: #173307;
    width: 150px;
    padding: 10px;
    color: #f1f1f1;
    margin:15px 0;
    border-radius: 5px;
}
.booking-sum{
    width: max-content;
}