body{
    background-color: #fafafa;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1c1c1c;
}

/* Handle */
::-webkit-scrollbar-thumb {
      border-radius: 2px;
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.cart-container{
    display: flex;
    flex-direction: column;
    padding: 80px 200px 0;
    gap: 5px;
}
.box{
    display: flex;
    gap: 50px;
}
.itembox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.item{
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
}
.image{
    width: 30%;
    border-radius: 8px;

}
.info1{
    display: flex;
    gap: 20px;
}
.infoo{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.price{
    font-size: 20px;
}
.quantity{
    display: flex;
    gap: 5px;
    align-items: center;
}
.quantity button{
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    border: none;
    padding: 2px 7px;
    background-color: #ffd900;
}

.info2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
}
.info2 button{
    border: none;
    font-size: 17px;
    color: #ef476f;
    background-color: #1c1c1c;
    align-self: center;
    padding: 10px 20px;
    border-radius: 8px;
 
}
.info2 button:hover{
    background-color: #ef476f;
    color: #1c1c1c;
}
.tprice{
    color: #515151;
    font-size: 30px;
    font-weight: 600;
}

.total{
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    padding:20px;
    margin: 30px 0;
    width: 25%;
    height: max-content;
    border-radius: 8px;
    color: #888;
    font-size: 15px;
    gap: 30px;
}
.total span{
    font-size: 30px;
    color: #ffd900;
}

.total button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #ffd900;
    cursor: pointer;
    border: none;
    font-size: 17px;
}

.total button:hover {
    background-color: #ffd900e5;
    scale: 0.97;
}
