* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
i{
    color: rgb(0, 121, 168);

}
i b{
    background: linear-gradient(to top, rgb(0, 69, 96), rgb(0, 142, 198));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FAF9F6 ;
    background: linear-gradient(to left, rgba(255,255,255,0) 50%,
    rgba(255,255,255,1)), url(https://codeplay-edtech-project.vercel.app/static/media/bghome.de04eae287ff1d29f0b1.svg);
}

.box {
    height: 60%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #00000061;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.356);
    border-radius: 4px;
    margin-bottom: 4px;

}
input::placeholder{
    font-size: 15px;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #ffd900;
    cursor: pointer;
    border: none;
    font-size: 17px;
}

button:hover {
    background-color: #ffd900e5;
}
.aauli{
    align-self: flex-end;
}
.boximgimg{
    width: 40%;
    height: 100%;
    position: relative;
}
.img1{
    width: 97%;
    height: 97%;
    position: relative;
    top:0;
    left:0;
    z-index: 2;
    
}
.img2{
    height: 97%;
    width: 97%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
