*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
li{
    padding: 25px 20px;
    display:inline;
}
a{
    color:#000000;
    text-decoration: none;
}
ul{
    padding: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
}
#logo{
    padding: 10px 15px;
    filter: contrast(150%);
    cursor: pointer;
}
.search {
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px;
    margin: 15px;
    width: 20vw;
}
::placeholder{
    color: black;
}
nav#scrollmenu a:hover{
    background-color: white;
    color:black;
    filter: invert(100%);
    padding: 6px;
    border-radius: 15px;
}
.kart{
    padding-top: 7px;
    cursor: pointer;
}
.cart{
    height:20px;
}
.cartb{
    border-radius: 10px;
    padding:2px 5px;
    border: none;
    outline: none;
    background-color: rgb(247, 246, 246);
    font-size:x-small;
    cursor: pointer;
}
nav{
    background-color: rgb(247, 246, 246);
    display: flex;
    justify-content:space-between;
    font-size: large;
    position: sticky;
    z-index: 5;
    top: 0;
    align-items: center;
    box-shadow: 0px 2px 0px 0px rgb(182, 182, 182);
}
footer{
    padding: 10px;
    background-color:black;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom:0;
    width: 100vw;
}
.icon img {
    width: 22px;
    padding: 0 2px;
}
footer a{
    padding: 25px;
    color:white;
}

.container a {
    margin: 2px;
    text-decoration: none;
    width: 168.4px;
    
}

.container {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.82);
    height: 25vh;
    overflow: auto;
    white-space: nowrap;
    position: sticky;
    z-index: 1;
}
.container img{
    width: 15vh;
}

.item {
    margin: 9px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
}

.item:hover {
    background-color:rgba(153, 152, 152, 0.342);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.772);
}

.item a {
    color: rgb(247, 246, 246);
}


.heading {
    margin: 10px;
    padding: 10px;
    font-size:3.5vw;
    color: black;
    font-weight: 600;
}

.menu {
    display: flex;
    height: 48vh;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:space-evenly;
    overflow: auto;
}

.food {
    border: 1px solid rgba(128, 128, 128, 0.637);
    background-color:rgba(203, 203, 203, 0.434);
    margin: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    width: 18vw;
    padding: 5px;
    font-weight: 400;
}

.food:hover {
    background-color:rgb(227, 225, 225);
    box-shadow: 4px 4px 4px 2px lightgrey;
    
}

.food img {
    margin: 15px 0px 2px 0px;
    width: 90%;
    height: 15vw;
    border-radius:15px;
}

.button:hover{
    background-color: gray;
    color: black;
    font-weight: 600;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: black;
    padding: 5px;
    margin: 5px;
    color: white;
    border:none;
    outline:none;
    cursor:pointer;
    font-size:1em;
}
@media(max-width:13000px){
    .nav-menu{
        display: none;
    }
    .nav-menu.active{
        display: flex;
        z-index: 5;
    }
    #cartitem{
        display: flex;
        flex-direction: column;
        margin: 5px 0;
    }
    #cartitem span{
        position: fixed;
        margin: 6px 26px;
    }
    #cartitem div{
        margin: 5px;
        display: flex;
        justify-content: space-between;
    }
    #cartitem div button{
        padding:0 7px;
        border-radius: 100%;
        border: none;
        font-weight: 600;
        background-color: grey;
        text-align: center;
        cursor: pointer;
        height: 20px;
        margin-top: 5.5px;
    }
    #cartitem div button:hover{
        background-color: black;
        color: white;
    }
    .sidebar{
        font-size: 90%;
        width: 25%;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        margin-left: 20px;
        padding: 15px;
        text-align: center;
        box-shadow: 0 0 2px 2px rgb(210, 209, 209);
        flex-direction: column;
        position: fixed;
        z-index: 5;
        right: 0;
        /* overflow:hidden; */
        
    }
    .head{
        background-color: black;
        color: white;
        border-radius: 3px;
        height: 20px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
    }
    .foot{
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        border-top: 1px solid #000;
    }
    .checkout button{
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 15px;
        width: 50%;
        font-weight: 600;
        font-size: 90%;
        outline: none;
        border: none;
        cursor: pointer;
    }
    .checkout button:hover{
        background-color: rgb(50, 50, 50);
    }
}

.cp{
    display: flex;
    justify-content: space-between;
    padding:0px 22px;
    font-size:18px;
}