*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
li{
    padding: 25px 20px;
    display:inline;
}
a{
    color:#000000;
    text-decoration: none;
}
ul{
    padding: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
}
#logo{
    padding: 10px 15px;
    filter: contrast(150%);
    cursor: pointer;
}
.search {
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    margin: 15px;
    width: 20vw;
    background-color: transparent;
    border: 1px solid black;
    outline: none;
}
::placeholder{
    color: rgb(0, 0, 0);
}
nav#scrollmenu a:hover{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    padding: 6px;
    border-radius: 15px;
}
nav{
    background-color:rgba(255, 255, 255, 0.806);
    display: flex;
    justify-content:space-between;
    font-size: large;
    position: sticky;
    z-index: 1;
    top: 0;
    align-items: center;
    box-shadow: 0px 2px 0px 0px rgb(182, 182, 182);
}

.contact{
    height: 48%;
    width: 100%;
    border: 1px solid black;
    margin: 20px;
    background-color: #f2f2f2;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 3px;
}
.fb{
    height: 40%;
    width: 100%;
    border: 1px solid black;
    margin: 20px;
    background-color: #f2f2f2;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 3px;
}
.cu{
    position: fixed;
    right: 0;
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    margin-right: 5vw;
}

.rv{
    width:40vw;
    background-image: url(images/cu.jpg);
    filter:grayscale(50%);
    background-size: cover;
    background-position:center;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.container{
    display: flex;
    height: 86.5vh;
}
h2{
    font-weight: 600;
    margin: 5px;
    padding: 5px;
}
.form-group{
    margin: 0px 10px;
    display: flex;
    flex-wrap: wrap;
}
textarea{
    padding: 5px;
    margin: 7px 0;
    width: 100%;
}
select{
    padding: 5px;
    margin: 10px 0;
    width: 100%;
}
div input{
    padding: 5px;
    margin: 5px 0;
    width: 100%;
}
.form-group button:hover{
    background-color: gray;
    color: black;
    font-weight: 600;
}

.form-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: black;
    padding: 10px;
    width: 40%;
    margin: 5px 40%;
    color: white;
    border:none;
    outline:none;
    cursor:pointer;
    font-size:1em;
}



footer{
    padding: 10px;
    background-color:black;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom:0;
    width: 100vw;
}
footer a{
    padding: 25px;
    color:white;
}
.icon img {
    width: 22px;
    padding: 0 2px;
}