.Card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: #ffffff;
    cursor: pointer;
}

.image{
    width: 100%;
    height: 100%;
    zoom: 2;
}
.card1,.card5{
    display: flex;
    flex-direction: row;
}
.card3{
    display: flex;
    flex-direction: row-reverse;
}
.card1 .image,.card3 .image,.card5 .image{
    width: 40%;
    height: 100%;
}

.image:hover{
    zoom: 3;
}

.text{
    /* border: 1px solid black; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.title{
    font-size: 25px;
    font-weight: 600;
    color: #c11a00;
}
.author{
    margin-top: 5px;
    color: #272727;
    font-size: 15px;
    font-weight: 600;
}
.date{
    color: #272727;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 5px;
}
.content{
    font-size: 17px;
}
.tags{
    margin-top: 5px;
    color: blue;
    text-decoration: underline;
}