*{
    margin: 0;
    padding: 0;
}

.Header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-weight: 600;
    font-size: 20px;
    background: url("C:\Users\ayush\CHITKARA\2ND YEAR\FEE-II\React T\03.Advance\3.2.ContextAPI\public\banner.png");
    background-position:left;
    background-size:cover;
}
.navigate ul{
    display: flex;
    height: 5vh;
    gap: 5%;
    list-style: none;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #D3E7E5;
    color: #130059;
    font-weight: 600;
    font-size: 22px;
    box-shadow: 1px 1px 5px #D3E7E5;
    cursor: pointer;
}
li:hover{
    color: orangered;
}
