.News{
    padding: 0 60px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headcont{
    display: flex;
    justify-content: center;
}
.head{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 90%;
    justify-content: center;
    font-size: 30px;
    margin: 50px 0;
    font-weight: 600;
}
.line{
    background-color: #000000;
    height: 1.5px;
    width: 30%;
}

.load{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    padding: 50px;
    gap: 20px;
    margin: 50px;
}

.container{
    width: 85vw;
    display: grid;
    gap: 20px;
    grid-template-areas: 
            "item0 item0 item0"
            "item2 item2 item1"
            "item3 item4 item4";
    justify-content: center;
}