* {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic";
  font-style: normal;
  overflow: hidden;
  
}

.App{
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(92.75% 106.34% at 52.95% 100%, #000 0%, #010311 43.47%, #0D0A31 94.2%);
}

.colr1{
  position: absolute;
  width: 934px;
  height: 965px;
  top: -70vh;
  left: -5vw;
  z-index: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(98, 0, 255, 0.402) 0%, rgba(115, 115, 115, 0.00) 100%);
  animation: float 4s ease-in-out infinite ,floatg 2s;
}
@keyframes floatg {
  0% {
    transform: translateX(50vw);
  }
}
.colr2{
  position: absolute;
  width: 1082px;
  height: 886px;
  top: 40vh;
  right: -30vw;
  z-index: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(158, 0, 152, 0.48) 0%, rgba(115, 115, 115, 0.00) 100%);
  animation: float 4s ease-in-out 2s infinite , floatg2 2s;
}
@keyframes floatg2 {
  0% {
    transform: translateX(-70vw);
  }
}
@keyframes float{
  50%{
    filter: opacity(80%);
    transform: scale(0.8);
  }
}

.cont {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 38px;
}

.logo {
  height: 30vh;
  width: 30vh;
  animation: fade-up 1s ;
  filter: drop-shadow(0px 0px 3px black);
  display: flex;
  justify-content: center;
  align-items: center;

}

@keyframes fade-up {
  0%{
    opacity: 0;
    transform: translateY(30px) scale(0.9);
    filter: blur(10px);

  }
}
.logo img {
  width: 90%;
  height: 90%;
  /* animation: float 4s ease-in-out 1s infinite ; */

}

.container{
  max-width: 1014px;
  text-align: center;
  font-weight: 400;
}
.top {
  animation: fade-up 1s ;
  color: #fff;
  font-size: 79px;
}
.top span{
  color: #07D6FF;
}
.bottom {
  color: rgba(255, 255, 255, 0.7);
  font-size: 31px;
  text-align: left;
  padding-left: 3%;
  animation: fade-up1 2s ;

}
@keyframes fade-up1 {
  0%{
    opacity: 0;
    transform: translateY(10px) scale(0.9);
    filter: blur(10px);
  }
  50%{
    opacity: 0;
    transform: translateY(10px) scale(0.9);
  }
}

.btns{
  width: 60%;
  display: flex;
  justify-content: space-between;
  animation: fade-up2 2.5s ;
  gap: 10%;
}
@keyframes fade-up2 {
  0%{
    opacity: 0;
    transform: translateY(5px) scale(0.9);
    filter: blur(10px);
  }
  50%{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(5px) scale(0.9);
  }
}
.btns button {
  color: #fff;
  text-align: center;
  font-size: 31px;
  font-weight: 700;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid #01dbfe;
  width: 100%;
  padding: 7px;
}
.btns a{
  width: 100%;
}
.enc:hover{
  border: 3px solid #01dbfe;
  padding: 6px;
  background-color: #01dcfe0f;
}
.dec:hover{
  border: 3px solid #01dbfe;
  padding: 6px;
  background-color: #01dcfe0f;
}