*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-image: url(images/index.jpg);
    background-repeat: no-repeat;
    background-position:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
}
li{
    list-style: none;
    display: inline;
    color: white;
}
.name{
    font-size: 60px;
    position: relative;
    top: 45vh;
    text-shadow: 1px 1px 2px black;
    /* text-shadow: 2px 2px 2px black; */
}
.container{
    margin: 7px;
    padding: 7px;
    /* height: 85vh; */
    text-shadow: 1px 1px 2px black;
    position: relative;
    top: 46vh;
}
.footer{
    padding: 7px;
    margin: 7px;
    text-shadow: 1px 1px 2px black;
    position: relative;
    top: 75vh;
} 
.li a{
    /* top: 50vh; */
    position: relative;
    margin: 15px;
    padding: 12px;
    border-radius:15px;
    border:2px solid white;
    text-decoration: none;
}
div.container a:hover{
    background-color: black;
    border-radius: 15px;
}