<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Catering Site</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/about.css" />
  <link rel="stylesheet" href="/css/contact.css" />
  <link rel="stylesheet" type="text/css" href="/css/food.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">


</head>
<body>
  <!-- <h1>Food Catering Site</h1> -->
  <%-include("./partial/Header");%>
  
  <div class="home">
    <h1>Savor Every Bite with <b>Easy Online Ordering</b></h1>
    <br>
    <h4>With our seamless food ordering platform, you can explore diverse cuisines, customize your meals, and enjoy fast delivery—all from the comfort of your home. Indulge in deliciousness with just a few clicks!
    </h4>
    <a href="Menu"><button class="btan" >Explore More
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></button></a>
    <div class="boximgimg">
      <div class="motion img1">
      </div>
      <img class="img2" src="https://codeplay-edtech-project.vercel.app/static/media/frame.3a238e5f26d676376e1d.png" alt="">
    </div>
    
  </div>
  <%-include("./partial/About");%>
  <%-include("./partial/ContactUs");%>
  <%-include("./partial/Footer");%>

</body>
</html>
