<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="box">
        <form action="/login" method="post">
            <h1>Welcome Back</h1>
            <h3>Discover flavors for today, tomorrow, and beyond.</h3>
            <i><b>Taste experiences to elevate your dining journey.</b></i>
            <br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <br>
            <button type="submit">Log In</button>
            <p class="cnu">Create new user <a href="./signup"><i>Sign Up</i></a></p>

        </form>

        <div class="boximgimg">
            <img class="img1" src="https://www.corriecooks.com/wp-content/uploads/2023/04/Fried-Fish-900x600.jpg" alt="">
            <img class="img2" src="https://codeplay-edtech-project.vercel.app/static/media/frame.3a238e5f26d676376e1d.png" alt="">
        </div>
    </div>
</body>
</html>
