*{
    /* use m0+p0 for shortcut */
    margin: 0;
    padding: 0;
}
.red{
    /* use bg for background & bc for background color */
    background: red;
    height: 150px;
    color: aliceblue;
}
.green{
    background-color: green;
    color: rgb(176, 213, 213);
}