
*{
    margin: 0;
    padding: 0;
    font-family: Okra, Helvetica, sans-serif;
}
header{
    position: relative;
    height: 429.6px;
    margin-bottom: 40px;
}
header img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 429.6px;
    /* transform: scale(1.1); */
}
.first{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.nav{
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 0;
    color: white;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: 0px auto;
}
.nav a{
    text-decoration: none;
    color: white;
    padding: 8px;
}
.nav ul{
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav li{
    display: flex;
    font-size: 1.1rem;
    text-align:right;
    margin-right: 20px;
    letter-spacing:1px;
}
.right{
    align-items: center;
    display: flex;
}
.left{
    margin-left: 15px;
    align-items: center;
    display: flex;
}
.left a{
    font-size: 15px;
    padding: 0;
}
.left i{
    font-size: 10px;
}


.mid{
    height: 222px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.c1 {
    margin-top: 33px;
    padding-top: 30px;
    height: 60px;
}
.c1 img{
    height: 60px;
}
.c2{
    padding: 30px 20px 10px;
    min-height: 48px;
    /* margin-top: 30px; */
    color: white;
    font-size:37px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.c3{
    max-width: 816.200px;
    width: 100%;
    height: 54px;
    margin-top: 20px;
}
.c3con{
    margin: 0 20px;
    border-radius: 8px;
    height: 50.4px;
    background-color: #fff;
    padding: 1px 2px;
    display: flex;
    flex-direction: row;
    align-items:center;
    color: grey;
}
.c3con span{
    margin-left: 10px;
}
.c3l{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 223px;
    padding: 0 10px;
}
.c3l div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.c3l div i{
    color: rgb(255, 126, 139);;
    
}
.c3l i{
    color: #2b2a2a;
    cursor: pointer;
}
.m{
    height: 20px;
    width: 2px;
    background-color: grey;
    margin-right: 20px;
    margin-left: -10px;
}
.c3r{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 1337px;

    /* margin: 0 12px; */
}

#a{
    /* background-color: #c02727; */
    display: flex;
    flex-direction: row;
    justify-content:center;
    /* flex-wrap: wrap; */
    margin: 0 0 60px 0;
    max-width: 1100px;
    width: 100%;
}
#a a{
    height: 260px;
    width: 100%;
    margin: 0 10px 20px ;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    text-decoration: none;
}
.card{
    max-width: 100%;
    height: 100%;
}

#a a:hover{
    transform: scale(1.03);
    transition:0.3s ease-in-out ;
}
#a div{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
}
#a div img{
    object-fit: cover;
    object-position: center;
    height: 156.4px;
    border-radius: 15px 15px 0  0;
}
.text{
    border: 1px solid rgb(222, 222, 222);
    z-index: 1;
    position: relative;
    height: 56px;
    padding: 10px 20px 16px;
    bottom: 0;
    border-radius:0  0 15px 15px ;
    justify-content: space-between;
}
.text span{
    padding-top: 5px;
    font-size:20px;
    color: #000;
}
.text p{
    color: #434343;
    font-size:17px;
}
#col{
    max-width:1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.colt{
    height: 72.4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.colt2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}
.hh{
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 10px;
}
.ab{
    color: #434343;
}
.abc{
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 126, 139);;
    cursor: pointer;
}

.colcon{
    width: 100%;
    height: 330px;
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
}
.concon{
    border-radius: 8px;
    /* background-color: #972626; */
    height: 366x;
    width: 25%;
    margin:10px 5px;
    color: white;
    position: relative;
    cursor: pointer;
}
.ct{
    height: 56.8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    padding:2px 16px;
}
.ct div{
    max-width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
}
#ct1{
    background-image: url(images/nor.jpeg);
    background-position: center;
    background-size: cover;
}
#ct2{
    background-image: url(images/bic.jpeg);
    background-position: center;
    background-size: cover;
}
#ct3{
    background-image: url(images/pomm.jpeg);
    background-position: center;
    background-size: cover;
}
#ct4{
    background-image: url(images/sr.jpeg);
    background-position: center;
    background-size: cover;
}
.pop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 364px;
    padding-bottom: 100px;
}
.popc{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
}
.popt{
    text-align: left;
    font-size: 36px;
    margin-bottom: 40px;
}
.popg{
    height: 288.5px;
    display: grid;
    grid-template-columns:  auto auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 20px;
}
#pop{
    border: 1px solid rgb(232, 232, 232);
    box-shadow: rgba(28, 28, 28, 0.08) 0px 1.42623px 2.85246px;
    border-radius: 8px;
    padding: 12px 15px;
    height: 54px;
    cursor: pointer;
}
#pop:hover{
    box-shadow: rgba(28, 28, 28, 0.08) 2px 3px 10px;
}
.popc2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popc1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #1c1c1c;
}
.pl{
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.ph{
    font-weight: lighter;
    color: #1c1c1c;
    font-size: 20px;
}
.pp{
    font-weight: lighter;
    font-size: 16px;
    color: #363636;
}


.gtaa{
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 251, 247);
}
.gta{
    height: 450px;
    max-width: 740px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(255, 251, 247);
}
.gta img{
    width: 250px;
}
.gtat{
    margin-top: 100px;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.gt{
    display: flex;
    flex-direction: column;
}
.h11{
    min-height: 56px;
    font-size: 44px;
    margin-bottom: 15px;
}
.h22{
    font-size: 16px;
    min-height: 39px;
    margin-bottom: 25px;
    
}
.gep{
    max-width: 225px;
    display: flex;
    flex-direction: row;
    height: 38px;
    font-size: 16px;
    align-items: start;
    width: 100%;
    justify-content: space-between;
}
.gep input{
    accent-color: #ef4f5f;
    cursor: pointer;
    margin-right: 10px;
}
.gs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 450px;
    width: 100%;
    min-height: 63px;
    margin-bottom: 10px;
}
.gs input{
    background: rgb(255, 255, 255);
    border: 0.1px solid rgb(207, 207, 207);
    font-size: 18px;
    width: 100%;
    width: 266px;
    outline: none;
    height: 20px;
    padding: 13px 12px;
    border-radius: 8px;
}
.gs button{
    max-width: 150px;
    width: 100%;
    /* justify-content: center; */
    height: 48px;
    border-radius: 8px;
    background-color: rgb(239, 79, 95);
    border-width: 0px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.gs button:hover{
    background-color: #e03546;
}
.gte{
    height: 21px;
    font-size: 14px;
    margin-bottom: 15px;
    color: #9c9c9c;
}
.gpic{
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.gpic img{
    width: 137px;
    cursor: pointer;
    margin-right: 20px;
}
.enom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 24px;
    background-color: #fcfcfc;
}
.eonm{
    display: flex;
    flex-direction: column;
    height: 490px;
    max-width: 1100px;
    width: 100%;
}
.eonmt{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.eonmb{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.tag{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    padding: 20px 24px;
    height: 26px;
    border-radius: 8px;
    border: 0.01px solid rgba(207, 207, 207, 0.767);
    color: #363636;
    background-color: #fff;
}

footer{
    display: flex;
    justify-content: center;
    height: 480px;
    background-color: #f8f8f8;
}
.foot{
    max-width: 1100px;
    height: 410px;
    width: 100%;
    padding: 48px 0 22px;
    display: flex;
    flex-direction: column;
}
.ft{
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}
.ftl{
    width: 132px;
}
.ftr{
    max-width: 252px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ftc{
    width: 121px;
    border-radius: 8px;
    border: 0.1px solid rgb(154, 154, 154);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}
hr{
    margin: 50px 0 8px;
}
.fm{
    height: 212px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fmc1{
    max-width: 201px;
    width: 100%;
}
.fmc2{
    max-width: 210px;
    width: 100%;
}
.fmc3{
    max-width: 275px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.fmc3 span{
    margin-bottom: 30px;
}
.fmc4{
    max-width: 183px;
    width: 100%;
}
.sl img{
    height: 22px; 
    cursor: pointer;
    margin-bottom: 24px;
}
.fim{
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.hc1{
    letter-spacing: 1.5px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 15px;
    font-size: 16px;
}
.tc1{
    text-transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 0.4px;
    color: #696969;
    font-size: 14px;
    cursor: pointer;
}
.tc1:hover{
    color: #000000;
}




.ff{
    letter-spacing: 0.4px;
    height: 34px;
    width: 100%;
    font-size: 13px;
    text-align: start;
    color: #4f4f4f;
    margin: 23px 0 13px;
}