*{
    padding: 0;
    margin: 0;
}
.App{
    padding:7vh 0;
    height: 86vh;
    width: 100vw;
    display: flex;
    background-color: #FAF9F6;
}
.line{
    width: 1px;
    background-color: rgba(0, 0, 0, 0.452);
    height: 100%;
}
.left{
    width: 17vw;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    align-items:center;
    margin-top: 15vh;
    cursor: pointer;
}
.active{
    background-color: rgba(191, 190, 190, 0.5);
}
.tcont:hover{
    background-color: rgba(191, 190, 190, 0.2);
}
.active:hover{
    background-color: rgba(191, 190, 190, 0.4);
}
.tcont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
#Normal{
    background-color: #94D016;
}
#Important{
    background-color: #FFAD4D;
}
#Urgent{
    background-color: #9575D9;
}
.one{
    display: flex;
    align-items: center;
}
.circle{
    background-color: #858585;
    width: 10px;
    height: 10px;
    margin:0 10px 0 20px;
    border-radius: 50%;
}
.tcount{
    margin-right: 20px;
    padding: 3px 6px;
    border-radius: 5px;
    border: none;
}
.right{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    width: -webkit-fill-available;;
    display: flex;
    font-size: 58px;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.toggle{
    margin-right: 5%;
    background-color: white;
    border: 1px solid black;
    border-radius: 99px;
    width: 50px;
    height: 28px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(191, 190, 190, 0.5);
    position: relative;
}

.toggle .thumb{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 99px;
    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}

.toggle.toggled{
    background-color: white;
}

.toggle:hover{
    background-color: rgba(191, 190, 190, 0.2);
}

.toggle.toggled .thumb{
    font-size: 20px;
    left: calc(50px - 25px);
}
